<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myflair.admin.activeconfig.dao.ActiveDao">
    <sql id="activeParam">
        <if test="code!=null">
            and code = #{code}
        </if>
    </sql>
    <select id="selectById" resultType="ActiveConfigInfo" parameterType="java.lang.Long">
       select id,title,code,remark,hy_img as hyImg,pyq_img as pyqImg, hy_content  as hyContent,
        pyq_content as pyqContent,share_url as shareUrl ,create_time createTime,create_emp createEmp,
        modify_emp as modifyEmp ,modify_time as modifyTime from t_active_config
        where id = #{id}
    </select>

    <select id="query" resultType="ActiveConfigInfo" parameterType="map">
        select id,title,code,remark,hy_img as hyImg,pyq_img as pyqImg, hy_content  as hyContent,
        pyq_content as pyqContent,share_url as shareUrl ,create_time createTime,create_emp createEmp,
        modify_emp as modifyEmp ,modify_time as modifyTime from t_active_config
        where 1=1
        <include refid="activeParam"/>
    </select>

    <select id="queryList" resultType="ActiveConfigInfo" parameterType="map">
        select id,title,code,remark,hy_img as hyImg,pyq_img as pyqImg, hy_content  as hyContent,
        pyq_content as pyqContent,share_url as shareUrl ,create_time createTime,create_emp createEmp,
        modify_emp as modifyEmp ,modify_time as modifyTime from t_active_config
        where 1=1
        <include refid="activeParam"/>
        order by create_time desc limit #{start},#{pageSize}
    </select>

    <select id="queryCount" resultType="int" parameterType="java.util.HashMap">
        select  count(id) from t_active_config
        where 1=1
        <include refid="activeParam"/>
    </select>


    <insert id="insert" parameterType="ActiveConfigInfo">
        insert into t_active_config(title,code,remark,hy_img,pyq_img,hy_content,pyq_content,share_url,create_time,create_emp,modify_emp,modify_time)
values(#{title},#{code},#{remark},#{hyImg},#{pyqImg},#{hyContent},#{pyqContent},#{shareUrl},now(),#{createEmp},#{modifyEmp},now())
    </insert>

    <update id="update" parameterType="ActiveConfigInfo">
        <![CDATA[
			UPDATE t_active_config SET
				code = #{code}
				,title = #{title}
				,remark = #{remark}
				,hy_img = #{hyImg}
				,pyq_img = #{pyqImg}
				,hy_content= #{hyContent}
				,pyq_content = #{pyqContent}
				,share_url = #{shareUrl}
				,modify_emp = #{modifyEmp}
				,modify_time = now()
			WHERE id = #{id}
			]]>
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM t_active_config
        WHERE id = #{id}
    </delete>


</mapper>
